body{
	background: url('img/1671755794_kalix-club-p-ochen-krasivii-fon-krasivo-2.jpg') 0px 0px / 100% auto no-repeat;
}

@keyframes header__title {
	0% {
		opacity: 0;
		transform: translateX(-10%);
	}
	50%{
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateX(100%);
	}
}

@keyframes sub-title {
	0% {
		opacity: 0;

	}
	50%{
		opacity: 1;
	}
	100% {
		opacity: 0;

	}
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
}
.header__title{
	margin: 0 0 0 0;
	font-weight: 400;
	font-family: sans-serif;
	color:#fff;
	font-size: 10vw;
	animation: header__title 10s infinite alternate ease;
}

.header__sub-title{
	text-align: center;
	margin: 0 0 10vw 0;
	color:#fff;
	font-weight: 400;
	font-family: sans-serif;
	font-size: 5vw;
	animation: sub-title 10s infinite alternate ease;
}
.tasks__ferst a{
	
	display: inline-block;
	margin: 2vw 0 2vw 0;
	font-family: sans-serif;
	font-size: 2vw;
	color: #fff;
	text-decoration: none;

}
.tasks__ferst{
border-top: 12px solid #fff;
border-bottom: 12px solid #fff;
}
